<h2><%= @message.title %> <%= link_to 'Back', messages_path, class:"btn btn-default" %></h2>
<p>Posted by 
	<%= @message.user.email %>
	<%= time_ago_in_words(@message.created_at) %> ago
</p>
<p><%= @message.description%></p>

<h3>Comments:</h3>
<%= render @message.comments %>

<h3>Reply to Message:</h3>

<%= render 'comments/form' %>

<% if user_signed_in? %>
<% if @message.user_id == current_user.id %>
	<%= link_to 'Edit', edit_message_path(@message), class: "btn btn-default" %>
	<%= link_to 'Delete', message_path(@message), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
<% end %>
<% end %>